.header-container {
  font-family: 'Lexend Giga', sans-serif;
  // border: 1px solid red;
  // padding: 10px;
  .header-flex-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    .header-title {
      padding: 10px;
    }
    .links-flex-container {
      display: flex;
      justify-content: space-evenly;

      .header-links {
        font-family: 'Ubuntu', sans-serif;
        cursor: pointer;
        padding: 10px;
      }
    }
  }
}

@media(max-width: 500px) {
  .header-container {
    .header-flex-container {
      display: grid;
      grid-template-columns: 1fr;
      .links-flex-container {
      }
    }
  }
}